@model AccesoBolsaTrabajo3.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registro";
}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />



<script type="text/javascript">
	function CuantaCreada()
	{
	        swal("Good job", "You success to Login", "success");
	}
</script>




<h2>@ViewBag.Title.</h2>
<h3>Asocie su cuenta @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Se autenticó correctamente con <strong>@ViewBag.LoginProvider</strong>.
        Se utilizara su correo <strong>@ViewBag.EmailUser</strong> para darlo de alta en el sistema. De click en el boton de siguiente para continuar
        con su proceso.
    </p>
    <div class="form-group">
        <div style="visibility:hidden">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" class="btn btn-default" value="Siguiente" />*@

            <button onclick="CuantaCreada();">Login</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
